.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    transition: opacity 2s, visibility 2s;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid gray;
    border-top-color: pink;
    border-radius: 50%;
    animation: loading 2s ease infinite;

}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}


@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}